.cartWrapper {
  width: 400px;
  border: 2px solid rgb(68, 68, 68);
  padding: 10px;
  margin-left: 50px;
}

.totalLabel {
  font-size: 20px;
}

.savedLabel {
  font-size: 20px;
  color: rgb(2, 189, 2);
}
